@font-face {
    font-family: 'Droid Arabic Kufi';    
    src: url('../fonts/droidfont/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family:'Droid Arabic Kufi';
    color: #555 !important;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px !important;
    }
}

a {
    text-decoration: none !important;
}

.mercury-color{
    color:#244f56;
}

.top {
    padding: 10px;
    background-color: #0b3d42;
    color: #fff;
    font-size: 14px;
    /* text-align: center; */
}

.top img {
    width: 70%;
}

.top i, .top a i {
    color: #fed330;
}

.border-bottom-yellow {
    border-bottom: 1px solid #ac8a1c;
}

.navbar {
    background-color: #244f56;
    border-bottom: 5px solid #ac8a1c;
    padding: 20px 0;
}

.navbar-logo-container {
    float:left;
}

.navbar-menu-container {
    float:right;
    direction: rtl;
}

#navbar-logo {
    width:150px;
    height: 100px;
}

.navbar-nav .nav-item {
    margin-left:15px;
}

.navbar-nav .nav-item .nav-link {
    color:#fff !important;
    border-bottom: 2px solid #244f56;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #f1c40f;
    transition: 0.5s;
} 

.navbar-toggler {
    border:1px solid #fff !important;
    border-radius:5px !important;
    padding:10px 15px !important;
    font-size:24 !important;
    color:#fff !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar ul {
    padding-right: 0 !important
}

.rotate {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.search-nav > * {
    padding-right:0px !important;
}

.btn-search {
    color: #fff;
    background-color: #244f56;
    border-color: #244f56;
    border-radius: 0px !important;
    font-weight: bold;
}

.btn-search:hover {
    color: #244f56;
    background-color: #fff;
    border-color: #244f56;
}

.main-content h3, .upcoming-section h3 {
    font-size: 1.25rem;
}

.content-title {
    margin: 50px 0;
    position: relative;
    display: inline-block;
    color: #244f56;
}

.content-title::before {
    width: 40%;
    bottom: -8px;
}

.content-title::after {
    width: 70%;
    bottom: -15px;
    
}

.content-title::before, .content-title::after {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #ac8a1c;
}

.cat-card:hover .card-img-top {
    opacity: 0.7;
}

.cat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-link {
    color: #212529 !important;
}

.card-title {
    color: #244f56 !important;
    font-size: 18px !important;
}

.card-text {
    color: #555;
    font-size: small !important;
}

.upcoming-section {
    background: url("../images/cover.webp") no-repeat !important;
    background-size: cover;
    background-attachment: fixed !important;
    position: relative;
    padding-bottom: 50px;
}

.upcoming-courses-div {
    padding: 50px 0;
    text-align: center !important;
}

.upcoming-title {
    margin: 50px 0;
    position: relative;
    display: inline-block;
    color: #fff !important;
}

.upcoming-title::before {
    width: 40%;
    bottom: -8px;
}

.upcoming-title::after {
    width: 70%;
    bottom: -15px;
}

.upcoming-title::before, .upcoming-title::after {
    content: '';
    position: absolute;
    right: 0;
    /* width: 25px; */
    height: 3px;
    background-color: #ac8a1c;
}

.upcoming-courses-div .card {
    width: 100% !important;
}

.upcoming-courses-contect {
    text-align: right !important;
}

.up-info {
    margin-right: 10px;
    font-size: 12px;
    color: #244f56;
}

.more-btn {
    float: initial;
    color: #fff !important;
    /* float: right; */
    font-size: 18px;
    transition: all .5s;
}

.more-btn:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

.facts-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.facts-title {
    margin: 50px 0;
    position: relative;
    display: inline-block;
    color: #244f56 !important;
    /* font-size: 1.75rem; */
}

.facts-title::before {
    width: 40%;
    bottom: -8px;
}

.facts-title::after {
    width: 70%;
    bottom: -15px;
}

.facts-title::before, .facts-title::after {
    content: '';
    position: absolute;
    right: 0;
    /* width: 25px; */
    height: 3px;
    background-color: #ac8a1c;
}

.facts-section h4 {
    color: #00474F;
    position: relative;
    font-size: 20px;
}

.facts-section .count {
    color: #ac8a1c;
    font-size: 32px;
    font-weight: bold;
}

.facts-section h4:before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 60%;
    height: 1px;
    background-color: #ac8a1c;
    min-width: 150px !important;
}

.acc-img:hover img {
    filter: grayscale(0%);
}

.acc-img img {
    filter: grayscale(90%);
    transition: all .3s ease-in-out;
}

.footer1-section {
    background-color: #244f56;
    border-top: 5px solid #ac8a1c;
    padding: 20px 0;
}


.footer1-section p {
    color: #d2d2d2;
    font-size: 15px;
    text-align: justify;
    margin-top: 40px;
    width: 85%;
    position: relative;
}

.footer1-section p::before {
    top: -18px;
}

.footer1-section p::after {
    bottom: -18px;
}

.footer1-section p::before, .footer1-section p::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ac8a1c;
}

.menu-footer {
    margin: 30px 0 !important;
    position: relative !important;
}

.footer1-section ul {
    list-style-type: none !important;
    padding-right: 0 !important;
}

.footer1-section ul li {
    padding: 5px 0 !important;
}

.footer1-section ul li a {
    color: #d8d8d8 !important;
    font-size: 13px !important;
    -webkit-transition: .5s !important;
    -moz-transition: .5s !important;
    -o-transition: .5s !important;
    transition: .5s !important;
}

.footer1-section ul li i {
    color: #fff !important;
    margin-right: 5px !important;
    font-size: 13px !important;
}

.footer1-section .menu-footer:after {
    content: '' !important;
    position: absolute !important;
    right: 0 !important;
    width: 85% !important;
    height: 1px !important;
    background-color: #ac8a1c !important;
}

.footer1-section .social a {
    margin: 10px;
}

.footer1-section .social a i {
    color: #d2d2d2;
    transition: all .5s ease-in-out;
}

.footer1-section .title-footer {
    color: #fff;
    margin-bottom: 25px;
    position: relative;
    font-size: 1.75rem !important;
}

.footer1-section .title-footer::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0px;
    width: 15%;
    height: 1px;
    background-color: #ac8a1c;
}

.footer1-section span {
    display: block;
    color: #d8d8d8;
    font-size: 13px;
    margin-bottom: 5px;
}

.footer1-section span i {
    color: #fff;
    margin-left: 5px;
}

.footer1-section .contact-div img {
    width: 70%;
}

.footer1-section h4,.footer1-section h3 {
    color: #fff;
}

.footer1-section .contact-div {
    margin-bottom: 30px;
}

.footer1-section .contact-div h3 {
    font-size:18px !important;
}

.footer1-section .acc-logo img {
    width: 80%;
}

.footer1-section .acc-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.copyright-section {
    background-color: #0b3d42;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    /* margin-top: 1rem;
    border-top: 5px solid #ac8a1c; */
}

.copy-right {
    padding: 2% 0;
}

.copy-right-text p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.8em;
}


/* Category page css */

.cat-header-section {
    background-color: #f1f1f1;
    padding-bottom: 20px;
}

.cat-header {
    padding: 2% 0;
}

.breadcrumb {
    margin-bottom: 20px;
    background: none;
    margin-right: 10px;
    /* padding: 8px 15px; */
    list-style: none;
    border-radius: 4px;
}

.breadcrumb li, .breadcrumb li a {
    font-size: 14px;
    color: #244f56;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px !important;
    color: #fed330 !important;
    content: "/\00a0" !important;
}

.breadcrumb li a:hover {
    color: #ac8a1c;
}

.breadcrumb>.active {
    color: #888;
}

.category-content h2 {
    font-size: 20px !important;
}

.categroy-title {
    /* text-transform: uppercase !important; */
    color: #244f56 !important;
    font-size: 24px !important;
    /* margin: 5px 0 0 10px !important; */
}

.cat-list:nth-child(odd) {
    background-color: #f7f7f7 !important;
}

.cat-list:nth-child(even) {
    background-color: #eaeaea !important;
}

.cat-list:first-child {
    margin-top: 0 !important;
}

.cat-list:hover {
    background-color: #ddd !important;
}

.cat-list {
    margin-bottom: 5px !important;
    border-right: 3px solid #244f56 !important;
    transition: .3s !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    border-bottom: #CCC thin solid !important;
}

.cat-list h2 {
    width: 100% !important;
    margin-bottom: 12px !important;
    color: #244f56 !important;
}

.cat-list .info-cat span {
    color: #424242;
}

.cat-list .info-cat {
    font-size: 14px;
}

.cat-list .info-cat i {
    color: #244f56;
    margin-left: 5px;
}

.cat-sidebar {
    border-right: 1px solid #244f56;
    padding-right: 15px;
}

.cat-sidebar h4 {
    /* position: relative; */
    background-color: #244f56;
    color: #fff !important;
    margin: 0 !important;
    padding: 10px 10px !important;
    font-size: 18px !important;
}

.cat-sidebar h4 i {
    margin-right: 5px;
}

.cat-sidebar ul {
    list-style: none;
}
.sidebar-menu {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
}

.cat-sidebar ul li:nth-child(odd) {
    background-color: #eaeaea;
}

.sidebar-menu li {
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.cat-sidebar ul li:nth-child(even) {
    background-color: #f7f7f7;
}

.sidebar-menu li:hover {
    padding-left: 10px;
}

.sidebar-menu li a {
    color: #244f56;
    font-size: 12px;
    position: relative;
    padding-left: 8px;
}

.cat-sidebar ul li a i {
    margin-right: 5px;
}

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #244f56 !important;
    border-color: #244f56 !important;
}

.page-link:hover {
    z-index: 2 !important;
    color: #e9ecef !important;
    background-color: #244f56 !important;
    border-color: #244f56 !important;
}

.page-link {
    color: #fff !important;
    background-color: #7f8c8c !important;
    border: 1px  solid #707575 !important;
    font-size: 16px !important;
    padding: 10px 16px !important;
}

/* Course Page */

.course-main-content h2{
    font-size: 20px !important;
    color: #244f56;
}

.print-page {
    color: #244f56;
    border: 1px solid #244f56;
    padding: 5px 15px;
    font-size: 16px;
    transition: .3s;
}

.print-page:hover {
    text-decoration: none;
    background-color: #244f56;
    color: #fff;
}

.title-color {
    color: #244f56 !important;
}

.course-details {
    padding: 10px;
}

.course-info strong {
    color: #244f56 !important;
    font-size: 100% !important;
}

.course-info p {
    display: inline-block !important;
    margin-bottom: 8px !important;
}

.course-btns a {
    color: #fff;
    background-color: #0b3d42;
    border-color: #0b3d42;
}

.course-btns a:hover {
    color: #0b3d42;
    background-color: #fff;
    border-color: #0b3d42;
}


/* About and Accreditation Page */

.about-us h2, .accreditation h2 {
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    color: #244f56 !important;
    font-size: 22px;
}

.about-us h2::after, .accreditation h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150%;
    height: 2px;
    background-color: #ac8a1c;
}

.about-us p, .accreditation p {
    font-size: 20px;
    color: #6b6b6b;
    line-height: 1.8;
    text-align: justify;
}

.about-us .image img {
    width: 100%;
}

.about-us .value-box h3 {
    color: #037883;
    font-size: 24px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.accreditation p {
    width: 80%;
}

.accreditation a {
    color: #244f56;
    font-size: 16px;
    float: left;
    padding-left: 20%;
}

.accreditation .image {
    text-align: center;
}

.accreditation .image img {
    width: 70%;
    padding-top: 40px;
}

/* Contact us */
.contact-us .info {
    background-color: #244f56;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 0 10px 10px 0;
    /* padding-top: 70px; */
    height: 100%
}

.contact-us .form {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 0 10px 10px 0;
    /* padding-top: 70px; */
    height: 100%
}

.contact-us {
    box-shadow: 0 0px 10px #ccc;
    height: 100%;
    border-radius: 10px;
}

.contact-us .info .cen {
    color: #d2d2d2;
}

.contact-us .info .cen div {
    padding-left: 15px;
    font-size: 15px !important;
    padding-bottom: 5px;
}

.contact-us .info .cen h2 {
    color: #eee;
}

.contact-us .form .cen h2 {
    letter-spacing: 1.5px;
    color: #244f56;
    font-size: 30px !important;
}

/* .contact-us .form .cen .form-check label {
    font-weight: 300;
    padding-left: 5px;
    color: #244f56;
} */

.font-10{
    font-size:10px !important;
}

.font-12{
    font-size:12px !important;
}


.contact-logo {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 10px solid #fff;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    background: #244f56;
}

.contact-logo img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.contact-us form button {
    color: #fff;
    background-color: #244f56;
    border-color: #244f56;
    float: right;
    border-radius: 5px;
    font-size: 14px;
}

.contact-us form button:hover, .inq-btn:hover {
    color: #244f56;
    background-color: #fff;
    border-color: #244f56;
}

/* Inquiry Page */

.inq-header {
    background-color: #f1f1f1;
}

.inq-content .info strong {
    color: #244f56;
}

@media (min-width: 400px) and (max-width: 991.98px) {
    .inq-header h1 {
        width: 100% !important;
        font-size: 16px !important;
    }
}

.inq-content .form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.font-14 {
    font-size: 14px !important;
}

.inq-btn {
    /* margin-top: 38px; */
    color: #fff;
    background-color: #244f56;
    border: 1px solid #244f56;
    float: left;
    /* padding: 2px 60px; */
    font-size: 20px;
}

.inq-content .info p {
    color: #868686;
    /* margin: 15px 0 0 5px; */
}



.cover-in-form {
    margin-bottom: 10px;
    border: 1px dashed #ccc;
    position: relative;
    margin-bottom: 30px;
}

.cover-in-form .head-form {
    color: #244f56 !important;
    margin-top: 0;
    position: absolute;
    top: -10px;
    right: 15px;
    background-color: #fff;
    padding: 0 10px;
}

.cover-in-form .required-span {
    background-color: #fff !important;
}

.cover-in-form .required-input { 
    border-left: unset !important;
}

.form-check-label a {
    color: #333 !important;
    padding-left: 5px !important;
    font-size: 14px !important;
}


/* .cover-in-form .cover-group {
    padding: 20px;
} */

/* .cover-in-form .cover-group span {
    position: absolute;
    top: 0;
    right: 21px;
    color: #f00;
} */


/* All Courses Page */
.course-main {
    background-color: #f1f1f1;
    padding-bottom: 20px;
}

.course-main .tit-home {
    margin: 0 0 20px 0;
    position: relative;
    font-size: 26px !important;
    display: inline-block;
    color: #244f56;
}

.course-main .tit-home::before {
    width: 40%;
    bottom: -8px;
}

.course-main .tit-home::after {
    width: 70%;
    bottom: -15px;
}

.course-main .tit-home::before, .course-main .tit-home::after {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #ac8a1c;
}

.course-main .par-home {
    color: #6f6f6f;
    font-size: 17px;
}

.all-courses h2 a {
    color: #244f56;
    font-size: 30px !important;
}

.all-courses .list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.all-courses a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.all-courses .list-group-item:last-child {
    margin-bottom: 0 !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.all-courses .list-group-item:first-child {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.all-courses .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
}

.all-courses a.list-group-item {
    color: #555;
}

.events-list .list-group-inner:nth-child(odd) {
    background-color: #eaeaea;
}

.events-list .list-group-inner:nth-child(even) {
    background-color: #f7f7f7;
}

.events-list .list-group-inner {
    color: #424242;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    transition: .3s;
}

.events-list i {
    color: teal !important;
    margin-left: 5px;
}

.course-intro ul li::marker, .privacy-term ul li::marker {
    color: #244f56 !important;
}

.ok-inquiry {
    margin: 100px 150px;
    text-align: center;
    border-top: 8px solid #244f56;
    padding: 50px;
    box-shadow: 0 5px 10px #ccc;
}

.ok-inquiry i {
    margin-right: 20px;
    font-size: 60px;
    color: #244f56;
    border: 5px solid #244f56;
    border-radius: 50%;
    padding: 12px;
}

.ok-inquiry h1 {
    color: #333;
}

.not {
    border: 5px solid #870202 !important;
}

.not i {
    color: #870202;
    border: 5px solid #870202 !important;
}

.data-info-form {
    color: #333;
    font-size: 14px;
}

.modal-title {
    margin: 15px !important;
}

.equal-td td{
    width:50%;
    color:#747474 !important;
    font-size:14px;
}

.privacy-term h2 {
    font-size: 20px !important;
    color: #244f56;
}

.privacy-term .content-title {
    font-size: 36px;
}

@media print
{    
    .no-print, .no-print *, .zsiq_theme1.zsiq_floatmain
    {
        display: none !important;
    }
}

.cat-img-size {
    width: 100%; 
    height:100%;
    min-height: 200px;
}

.container{
    direction:rtl !important;
}

.form-select {
    color: #555 !important;
}

.zsiq_cnt {
    direction:rtl !important;
}

.breadcrumb-item+.breadcrumb-item::before { 
    float: right !important;
}

.cover-in-form .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0.2rem !important;
    border-bottom-right-radius:  0.2rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius:  0 !important;
}

.cover-in-form .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.2rem !important;
    border-bottom-left-radius:  0.2rem !important;
}

.contact-us .form .form-check .form-check-input {
    float: right !important;
    /* margin-right: -1.5em; */
}

.contact-us .form .form-check .form-check-label{
    /* float: right !important; */
    margin-right: 1.5em;
}

.course-events {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.course-events .list-group-inner {
    padding: 5px !important;
    font-size: 14px !important;
    font-weight: unset !important;
    margin-bottom: 2px !important;
}

.browse-btn {
    float: initial;
    color: #244f56  !important;
    /* float: right; */
    font-size: 14px;
    transition: all .5s;
    font-weight: bold;
}

.browse-btn:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

.cat-desc {
    margin-bottom: 0px !important;
    font-size: 14px;
}

.contact-form-inside{
    width:100% !important;
    padding:3rem 7rem!important;
}

@media only screen and (max-width: 1000px) {
    .contact-form-inside{
        padding:0!important;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .contact-form-inside{
        padding:3rem 5rem!important;
    }
}

.form-select {
    padding: 0.375rem 0.75rem 0.375rem 2.25rem;
    background-position: left 0.75rem center;
}